setuptools>=65.5.0
wheel
pip>=21.3
streamlit==1.37.0
folium==0.14.0
streamlit-folium==0.11.0
networkx==3.1
gspread==5.9.0
google-auth==2.19.1
google-auth-oauthlib==1.0.0
google-auth-httplib2==0.1.0
pillow==10.3.0
numpy>=1.24.0
pandas==1.5.3
matplotlib==3.7.1